.DS_Store
node_modules
dist
*.log
*.map
/wp-content/uploads
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-admin/
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-content/index.php
/wp-cron.php
/wp-includes/
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
wp-content/plugins/wordpress-importer/wordpress-importer.php
wp-content/plugins/wordpress-importer/readme.txt
wp-content/plugins/wordpress-importer/parsers/class-wxr-parser.php
wp-content/plugins/wordpress-importer/parsers/class-wxr-parser-xml.php
wp-content/plugins/wordpress-importer/parsers/class-wxr-parser-simplexml.php
wp-content/plugins/wordpress-importer/parsers/class-wxr-parser-regex.php
wp-content/plugins/wordpress-importer/parsers.php
wp-content/plugins/wordpress-importer/compat.php
wp-content/plugins/wordpress-importer/class-wp-import.php
