[submodule "wp-content/themes/eyebeam2019_alt/lib/swiper"]
	path = wp-content/themes/eyebeam2019_alt/lib/swiper
	url = https://github.com/nolimits4web/swiper.git
[submodule "wp-content/themes/eyebeam2019_alt/lib/bricks-js"]
	path = wp-content/themes/eyebeam2019_alt/lib/bricks-js
	url = https://github.com/callmecavs/bricks.js.git
